body{
margin:0;
padding:0;
font:12px verdana;
text-align:center;
 background-color: lightgray;
}

#container{
    margin:0 auto;
    width:1024px;
	height:700px;
    text-align:center;
    background: url("../guanwang/img/guanwang.jpg");
}

.nav{
  float:left;
  width:650px;
  height:60px;
  clear:both;
  overflow:hidden;
}
 #menu{
 float:left;
 width:300px;
 height:60px;

 }
  #menu .tiao{float:left;
 width:1px;
 height:9px;
 background:#000;
 margin-top:8px;
 margin-bottom:3px;
 }
 #menu ul{
 float:left;
  margin:0;
  padding:0;
  
 }
 .center ul{
 margin:0;
 padding:0;
 padding-top:25px;
 text-align:center;
  list-style-type: none;
 }
  li{
 float:left;
 padding-top:5px;
 padding-bottom:5px;
 width:120px;
 height:20px;
 line-height:26px;
 text-align:center;
   list-style-type: none;
 }
 li a{
 text-align:center;
  text-decoration:none;
 }
 #menu a{
 color:white;
 }
 
  #header{
  float:left;
  width:100%;
  height:65px;
  text-align:left;
  font:40px verdana;
 
 }
 #header .nav2{
 float:left;
  width:100px;
 height:65px;
 clear:both;
 overflow:hidden;
 }
 #header #tu{
 float:left;
  width:65px;
  height:65px;
 }
 #header #zi{
 float:left;
  width:200px;
  height:55px;
  margin-top:5px;
  margin-bottom:5px;
 }
 .nav1{
  width:90%;
 height:10px;
 clear:both;
 overflow:hidden;
 }
 #footer.nav3{
 float:left;
 width:500px;
 height:400px;
 clear:both;
 overflow:hidden;
 }
 #footer #tupian1{
   float:left;
   width:100px;
   height:100px;
   margin-left:200px;
   margin-top:400px;
 }
 #footer #tupian2{
   float:left;
   width:100px;
   height:100px;
   margin-left:350px;
   margin-top:-100px;
 }
 #tupian2 a{
 display:block;
 width:100px;
   height:100px;
 background:url(../guanwang/img/an2.jpg);}
 #tupian2 a:hover{
 display:block;
 width:100px;
 height:100px;
 background:url(../guanwang/img/20.jpg);}
 #main{
 float:left;
 width:300px;
 height:500px;
 }
 #shundi{
  float:left;
  width:150px;
  height:500px;
 }
 #shundi .nav4{
  float:left;
  width:100%;
  height:30px;
  clear:both;
 overflow:hidden;
 }#shundi a{width:100px;height:50px;
 }
 #shundi a:hover{
 color:#FFF; background:url(../guanwang/img/shun31.png) no-repeat center}

#footer{
 float:left;
 width:550px;
 height:500px;
 }
#footer a:hover{color:#FFF; background:url(../guanwang/img/20.jpg) no-repeat center
}